# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.LyricalListener.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\richa\OneDrive\Desktop\Repositories\Personal\WebDevelopment\LyricalListener\.idea\.idea.LyricalListener\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
